#container {
    width: 80%;
    height: 800px;
    margin: 1em auto;
    border: 1px solid;
    position: relative; /*jsplumb requirement*/
    font-family: Calibri, SansSerif, Serif;
    background: linear-gradient(#dceefd, rgba(255, 255, 255, 0) 1px), linear-gradient(90deg, #dceefd, rgba(255, 255, 255, 0) 1px);
    background-size: 50px 50px;
    background-position: 0 0;
}

.draggable {
    position: absolute; /*jsplumb requirement*/
    width: 250px;
    height: 150px;
    cursor: move;
    overflow: hidden;
    border-radius: 0.5em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3)
}

.draggable .header {
    background: #00b8ff;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0.5em;
}

.draggable .body {
    padding: 0.5em;
}

.draggable .body p {
    margin: 0;
}

#window1 {
    left: 10px;
    top: 10px;
}

#window2 {
    left: 400px;
    top: 100px;
}

#window3 {
    left: 100px;
    top: 300px;
}

.jtk-drag-select * { /*jsplumb requirement*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}