<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Sandbox</title>
    <style>
        .todo .completed {
            text-decoration: line-through;
        }
    </style>
</head>
<body>

<div id="app">
    <ul class="todos">
        <li class="todo" v-for="item in remainingItems" :key="item.id">
            <todo-item :item="item" @removed="todos.splice(index, 1)"></todo-item>
        </li>
        <li class="todo" v-for="item in completedItems" :key="item.id">
            <todo-item :item="item" @removed="todos.splice(index2, 1)"></todo-item>
        </li>
    </ul>
</div>

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>