.collapse-enter-active, .collapse-leave-active {
    transition: all 0.5s ease;
}

.collapse-enter, .collapse-leave-to {
    height: 0;
    overflow: hidden;
}

.collapse-enter-to, .collapse-leave {
    height: 100px;
    overflow: hidden;
}

.todo {
    display: block;
    transition: all 0.5s;
}

.list-leave-active {
    /* the -leave-active transition class must apply a position: absolute declaration, in order to take it out of the layout flow, so the siblings can -move in to place around it */
    position: absolute;
}

.todo-search {
    margin-left: 2em;
    width: 23em;
}

.am-search input, .am-search input:focus {
    display: inline-block;
    width: calc(87% - 4px);
    font-size: 1.5em;
    outline: none;
}

.am-search button {
    display: inline-block;
    width: calc(13% - 4px);
    font-size: 1.5em;
}

body, body * {
    font-family: "Calibri Light", SansSerif, Serif, serif;
    color: #222;
}

.todo-items li {
    padding: 0.25em 1em;
    font-size: 2em;
}

.todo label {
    display: inline-block;
    min-width: 7.5em;
}

.todo-text-input, .todo-text-input:focus {
    display: inline-block;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1em;
}

.todo-text-input:focus {
    border-bottom: 1px solid #666;
}

li.separator {
    border-bottom: 1px solid #ddd;
    margin: 0.25em 0 0.25em 1em;
    padding: 0;
    width: 10em;
}

.todo .completed .todo-text-input {
    text-decoration: line-through;
    color: #999;
}

.checkbox {
    width: 2em;
    height: 2em;
    margin: 0 1em 0 0;
}

.todo-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.delete-btn, .delete-btn:visited, .delete-btn:hover {
    text-decoration: none;
    color: darkred;
    font-weight: bold;
}

.completed-label {
    text-decoration: none;
}

.completed-label:hover {
    color: #000;
    font-weight: bold;
}

.am-checkbox {
    cursor: pointer;
}